- include_stylesheet 'admin/twitter_search/search_terms'

%h1 Twitter Searches

%table{ :cellspacing=>0, :cellpadding => 0, :border => 0, :class => "index", :id => "search_terms" }

  %thead
    %tr
      %th{ :class => "search_term" } Search Term
      %th{ :class => "tweets" } Tweets
      %th{ :class => "fetch" } Fetch
      %th{ :class => "modify" } Modify

  %tbody
    - @search_terms.each do |term|
      %tr{ :class => "node level-1" }
        %td{ :class => "search_term" }
          -#= image('twitter_search/search_term')
          = link_to term.query, edit_admin_search_term_url(:id => term.id)
        %td
          = link_to(term.tweets.count)
        %td
          = link_to("Fetch tweets")
        %td{ :class => "remove" }
          = link_to image('remove', :alt => 'Remove search term'), remove_admin_search_term_url(:id => term.id)

%p
  = link_to image("twitter_search/new-search-term", :alt => "New search term"), {:action => :new}

