%h1= "Tweets matching #{@search_term.query}"

- form_tag( admin_feature_tweets_path ) do
  = submit_tag "Feature selected tweets"
  = hidden_field_tag :search_term_id, @search_term.id
  %table.index
    %tr
      %th Author
      %th Text
      %th Featured

    - @featured.each do |tweet|
      = render :partial => "tweet_row", :locals => { :tweet => tweet }

    %tr
      %td{ :colspan => 3, :align => "center" }
        %strong Unfeatured tweets

    - @tweets.each do |tweet|
      = render :partial => "tweet_row", :locals => { :tweet => tweet }
